<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




  <div class="container">
      <div class="jumbotron">
        <h1>Bienvenido a Atrevete Aventuras!</h1>      
        <p>El sitio para los amantes de la naturaleza y el outdoor</p>
      </div>
         
    </div>
    <hr class="style-eight">

        <div  class="container"  >
        <mat-card class="example-card" *ngFor="let tour of tours">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                  <button style="margin-left: 251px" mat-button [routerLink]="['/tours', tour._id]"> VER MAS</button>
              </div>
              <mat-card-title class="header" [routerLink]="['/tours', tour._id]" >{{tour.name}}</mat-card-title>
            </mat-card-header>
            <img [routerLink]="['/tours', tour._id]" mat-card-image src="{{tour.photoURL}}" alt="photos of nature">
            <mat-card-content>
              <p>
               {{tour.desc}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              
                   
            </mat-card-actions>
          </mat-card>
          </div>
          <hr class="style-eight">
          <div class="row">
              <div class="col-sm-4">
                <iframe src="https://www.youtube.com/embed/qkveKd3nW9w" frameborder="1" allowfullscreen></iframe>
                <p>Tour personalizados a Chichen-Itza!</p>
              </div>
              <div class="col-sm-4"> 
                <iframe src="https://www.youtube.com/embed/JoE9R3IfnY4" frameborder="1"></iframe>
                <p>Bucea con tiburones!</p>    
              </div>
              <div class="col-sm-4"> 
                  <iframe src="https://www.youtube.com/embed/LNvbv85P88A" frameborder="1"></iframe>
                  <p>Nadar es delicioso!</p>    
                </div>
                <div class="col-sm-4"> 
                   <iframe src="https://www.youtube.com/embed/dwyDb5xhiVA" frameborder="1"></iframe>
                    <p>Rapidos en Jalcomulco!</p>    
                  </div>
                  <div class="col-sm-4"> 
                      <iframe src="https://www.youtube.com/embed/p2xBsiNca7c" frameborder="1"></iframe>
                      <p>Nada mas rico que rodar una buena bajada!</p>          
                    </div>
                  </div>

          
       
        <div>
        <footer class="container-fluid">
            <p style="font-size: 31px">Contactanos:</p>
            <div>
            <ul>
              <li ><i class="fas fa-address-book"></i> Tel: 52921111 </li>
              <li> <i class="fas fa-address-book"></i> Cel: 5583728945</li>
              <li><i class="fas fa-envelope-square"></i> Email: atrevete@gmail.com</li>
            </ul>
            </div>
            </footer>
          </div>

<router-outlet></router-outlet>













<!-- 
<section>
<div *ngFor="let card of cards" class="mdc-card">
    <div class="mdc-card__media mdc-card__media--square">
      <div class="mdc-card__media-content"><p>{{card.name}}</p></div>
    </div>
    <img src="{{card.photoURL}}" alt="">
    <p>{{card.desc}}</p>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
        <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
      </div>
      <div class="mdc-card__action-icons">
        <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>      </div>
    </div>
  </div>
  
</section> -->




