.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 /* div.container{
    display: inline-block; 
    margin: 30px;
    margin-right: 0;
    padding: 0px;
} */



.header{
    font-size: 25px;
    color: white;
    
    
}
  img{
      height: 260px;
      width: 346px;
      margin-left: 1px;
      margin-right: 1px
  }

  .example-card {
    max-width: 400px;
   
  }

  .mat-card{
    border-radius: 40px;
    background: #b4c7dd;
    color: white;
    margin: 30px;
    display: inline-block;
    height: 400px;
  }



 
 
.jumbotron{
    text-align: center;
    margin-bottom: 0;
    background: #eee;
    color: rgb(119, 110, 110);
    font-weight: bolder;

} 

.row {
    margin-right: -15px;
    margin-left: 20px;
}

iframe{
    height: 250px;
    width: 300px
}

.back{
    background-image: url('https://i.imgur.com/zTk8tKT.jpg');
    background-repeat: no-repeat;
    background-size: 100%
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
