


.container{
    margin-left: 20px;
    padding: 20px;
    margin-top: 20px;
    display: inline-block
}



.header{
    font-size: 25px;
    color: rgb(216, 98, 20)
    
}

  img{
      height: 250px;
      width: 350px;
      margin-left: 1px;
      margin-right: 1px
  }

  .example-card {
    max-width: 400px;
   
  }

  /* .mdc-card{

  } */

