<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Buceo</h1>      
      <p>Conoce las Maravillas del mundo Marino!</p>
      <p>Atrévete!</p>
    </div>
  </div>
 
  <div class="container-fluid bg-3 text-center back">    
    <h3>Nuestros Tours</h3><br>

    <div>
      <h2>Sumergete y conoce las maravillas del Mar!!</h2>
    </div>
   
   <iframe width="750px" height="700px" src="https://www.youtube.com/embed/cT_kVk0GiZY?autoplay=1" frameborder="1" allow= autoplay></iframe>
  
<br><br>
  
  <footer class="container-fluid text-center">
    <h3 class="footer">PADI
        <img style="width: 55px" style="height: 50px" src="https://www.padi.com/themes/custom/bootstrap_padi/public/images/logo_padi_light.svg" alt="logo padi">
    </h3>
    <div>
        <p style="font-size: 20px">Contactar para saber mas de los tours</p>
        <p style="font-size: 20px">Oficina de Latinoamerica</p>
        <ul class="contact">
          <li>Telefono de contacto: 001-866.668.6685</li>
          <li>Email: customerservice@padi.com </li>
        </ul>
    </div>
    
  </footer>

    
