/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; 
 }



footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  ul{
    font-size: 20px;
    margin-left: 100px;
    list-style-type: none;
  }